Clear data

In [56]:
import pandas as pd

In [57]:
data = pd.read_csv("train.csv")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [58]:
data = data.join(pd.get_dummies(data["Pclass"], dtype = 'int8', prefix="class"), how='right')
data.drop(["PassengerId", "Pclass", "Name"], axis=1, inplace=True)
data.head()

,Survived,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,class_1,class_2,class_3
0,0,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,0,1
1,1,female,38.0,1,0,PC 17599,71.2833,C85,C,1,0,0
2,1,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,0,1
3,1,female,35.0,1,0,113803,53.1000,C123,S,1,0,0
4,0,male,35.0,0,0,373450,8.0500,NaN,S,0,0,1

In [59]:
data.Sex = (data.Sex=='male').astype(int)

In [60]:
data.drop("Ticket", axis=1, inplace=True)

In [61]:
data.drop("Cabin", axis=1, inplace=True)
data.head()

,Survived,Sex,Age,SibSp,Parch,Fare,Embarked,class_1,class_2,class_3
0,0,1,22.0,1,0,7.2500,S,0,0,1
1,1,0,38.0,1,0,71.2833,C,1,0,0
2,1,0,26.0,0,0,7.9250,S,0,0,1
3,1,0,35.0,1,0,53.1000,S,1,0,0
4,0,1,35.0,0,0,8.0500,S,0,0,1

In [62]:
data = data.join(pd.get_dummies(data["Embarked"], dtype = 'int8', prefix="port"), how='right')
data.drop(["Embarked"], axis=1, inplace=True)
data.head()

,Survived,Sex,Age,SibSp,Parch,Fare,class_1,class_2,class_3,port_C,port_Q,port_S
0,0,1,22.0,1,0,7.2500,0,0,1,0,0,1
1,1,0,38.0,1,0,71.2833,1,0,0,1,0,0
2,1,0,26.0,0,0,7.9250,0,0,1,0,0,1
3,1,0,35.0,1,0,53.1000,1,0,0,0,0,1
4,0,1,35.0,0,0,8.0500,0,0,1,0,0,1

In [63]:
data.isnull().sum()

Survived      0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
class_1       0
class_2       0
class_3       0
port_C        0
port_Q        0
port_S        0
dtype: int64

In [64]:
mean_age = data.Age.mean()
data.Age.fillna(mean_age, inplace=True)

In [65]:
# data.describe()
data.corr()

,Survived,Sex,Age,SibSp,Parch,Fare,class_1,class_2,class_3,port_C,port_Q,port_S
Survived,1.000000,-0.543351,-0.069809,-0.035322,0.081629,0.257307,0.285904,0.093349,-0.322308,0.168240,0.003650,-0.155660
Sex,-0.543351,1.000000,0.084153,-0.114631,-0.245489,-0.182333,-0.098013,-0.064746,0.137143,-0.082853,-0.074115,0.125722
Age,-0.069809,0.084153,1.000000,-0.232625,-0.179191,0.091566,0.319916,0.006589,-0.281004,0.032024,-0.013855,-0.027121
SibSp,-0.035322,-0.114631,-0.232625,1.000000,0.414838,0.159651,-0.054582,-0.055932,0.092548,-0.059528,-0.026354,0.070941
Parch,0.081629,-0.245489,-0.179191,0.414838,1.000000,0.216225,-0.017633,-0.000734,0.015790,-0.011069,-0.081228,0.063036
Fare,0.257307,-0.182333,0.091566,0.159651,0.216225,1.000000,0.591711,-0.118557,-0.413333,0.269335,-0.117216,-0.166603
class_1,0.285904,-0.098013,0.319916,-0.054582,-0.017633,0.591711,1.000000,-0.288585,-0.626738,0.296423,-0.155342,-0.170379
class_2,0.093349,-0.064746,0.006589,-0.055932,-0.000734,-0.118557,-0.288585,1.000000,-0.565210,-0.125416,-0.127301,0.192061
class_3,-0.322308,0.137143,-0.281004,0.092548,0.015790,-0.413333,-0.626738,-0.565210,1.000000,-0.153329,0.237449,-0.009511
port_C,0.168240,-0.082853,0.032024,-0.059528,-0.011069,0.269335,0.296423,-0.125416,-0.153329,1.000000,-0.148258,-0.778359
port_Q,0.003650,-0.074115,-0.013855,-0.026354,-0.081228,-0.117216,-0.155342,-0.127301,0.237449,-0.148258,1.000000,-0.496624
port_S,-0.155660,0.125722,-0.027121,0.070941,0.063036,-0.166603,-0.170379,0.192061,-0.009511,-0.778359,-0.496624,1.000000

START

In [67]:
from sklearn.preprocessing import StandardScaler

y = data.Survived
data.drop('Survived', axis = 1, inplace = True)
sc = StandardScaler()
x = sc.fit_transform(data)

x.shape, y.shape

((891, 11), (891,))

In [68]:
# import numpy as np
# from sklearn.metrics import 
# from sklearn.ensemble import GradientBoostingRegressor
# from sklearn.model_selection import GridSearchCV
# from sklearn.svm import SVR

In [72]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((712, 11), (179, 11), (712,), (179,))

In [73]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier

from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score

In [86]:
model_log = LogisticRegression()
model_log.fit(x_train, y_train)
preds_log = model_log.predict(x_test)

accuracy_score(y_test, preds_log), accuracy_score(y_train, model_log.predict(x_train))

(0.7877094972067039, 0.8117977528089888)

In [106]:
model_knn = KNeighborsClassifier(n_neighbors=6)
model_knn.fit(x_train, y_train)
preds_knn = model_knn.predict(x_test)

accuracy_score(y_test, preds_knn), accuracy_score(y_train, model_knn.predict(x_train))

(0.7821229050279329, 0.848314606741573)

In [107]:
model_nb = GaussianNB()
model_nb.fit(x_train, y_train)
preds_nb = model_nb.predict(x_test)

accuracy_score(y_test, preds_nb), accuracy_score(y_train, model_nb.predict(x_train))

(0.7262569832402235, 0.7893258426966292)

In [128]:
model_svc = SVC()
model_svc.fit(x_train, y_train)
preds_svc = model_svc.predict(x_test)

accuracy_score(y_test, preds_svc), accuracy_score(y_train, model_svc.predict(x_train))

(0.7877094972067039, 0.8525280898876404)

In [131]:
params = {'C': [0.1, 0.3, 0.5, 1, 3, 5],
     'kernel': ['linear', 'poly', 'rbf', 'sigmoid'],
     'degree': [3,5,7]}
grid_svc = GridSearchCV(estimator=model_svc, param_grid=params)


grid_svc.fit(x_train, y_train)
grid_svc.best_params_

{'C': 1, 'degree': 3, 'kernel': 'rbf'}

In [143]:
model_svc_best = SVC(C=1, kernel='rbf', degree=3)
model_svc_best.fit(x_train, y_train)
preds_svc_best = model_svc_best.predict(x_test)

accuracy_score(y_test, preds_svc_best), accuracy_score(y_train, model_svc_best.predict(x_train))

(0.7877094972067039, 0.8525280898876404)

In [145]:
model_tree = DecisionTreeClassifier(max_depth=3)
model_tree.fit(x_train, y_train)
preds_tree = model_tree.predict(x_test)

accuracy_score(y_test, preds_tree), accuracy_score(y_train, model_tree.predict(x_train))

(0.8044692737430168, 0.8384831460674157)

In [140]:
params_tree = {'max_depth': [3, 5, 10, 15]}
grid_tree = GridSearchCV(estimator=model_tree, param_grid=params_tree)


grid_tree.fit(x_train, y_train)
grid_tree.best_params_

{'max_depth': 3}

In [146]:
model_boost = GradientBoostingClassifier()

model_boost.fit(x_train, y_train)
preds_boost = model_boost.predict(x_test)

accuracy_score(y_test, preds_boost), accuracy_score(y_train, model_boost.predict(x_train))

(0.7932960893854749, 0.901685393258427)

In [147]:
params_boost = {'learning_rate': [0.05, 0.1, 0.3, 0.5, 1, 2],
                'n_estimators': [70, 100, 150, 200],
                'max_depth': [3, 5, 10, 15]}
grid_boost = GridSearchCV(estimator=model_boost, param_grid=params_boost)

grid_boost.fit(x_train, y_train)
grid_boost.best_params_

{'learning_rate': 0.05, 'max_depth': 3, 'n_estimators': 100}

In [151]:
model_boost_best = GradientBoostingClassifier(learning_rate=0.05, max_depth=3, n_estimators=100)

model_boost_best.fit(x_train, y_train)
preds_boost_best = model_boost_best.predict(x_test)

accuracy_score(y_test, preds_boost_best), accuracy_score(y_train, model_boost_best.predict(x_train))

(0.7932960893854749, 0.8707865168539326)

In [149]:
model_forest = RandomForestClassifier()

model_forest.fit(x_train, y_train)
preds_forest = model_forest.predict(x_test)

accuracy_score(y_test, preds_forest), accuracy_score(y_train, model_forest.predict(x_train))

(0.776536312849162, 0.9873595505617978)

In [150]:
params_forest = {'n_estimators': [70, 100, 150, 200],
                'max_depth': [3, 5, 10, 15]}
grid_forest = GridSearchCV(estimator=model_forest, param_grid=params_forest)

grid_forest.fit(x_train, y_train)
grid_forest.best_params_

{'max_depth': 5, 'n_estimators': 100}

In [166]:
model_forest_best = GradientBoostingClassifier(max_depth=5, n_estimators=100) #overfit

model_forest_best.fit(x_train, y_train)
preds_forest_best = model_forest_best.predict(x_test)

accuracy_score(y_test, preds_forest_best), accuracy_score(y_train, model_forest_best.predict(x_train))

(0.7821229050279329, 0.973314606741573)

Best result in test data:

In [167]:
model_tree = DecisionTreeClassifier(max_depth=3)
model_tree.fit(x_train, y_train)
preds_tree = model_tree.predict(x_test)

accuracy_score(y_test, preds_tree), accuracy_score(y_train, model_tree.predict(x_train))

(0.8044692737430168, 0.8384831460674157)

K-fold validation

In [183]:
from sklearn.model_selection import KFold
splits = 20
kf = KFold(n_splits=splits, shuffle=True)
means = [0,0]
for (train_index, test_index) in kf.split(x):
     test_acc = accuracy_score(y[test_index], model_tree.predict(x[test_index]))
     train_acc = accuracy_score(y[train_index], model_tree.predict(x[train_index]))
     print(test_acc, train_acc)
     means[0]+=test_acc
     means[1]+=train_acc

print('Mean:', means[0]/splits, means[1]/splits)

0.7777777777777778 0.83451536643026
0.7777777777777778 0.83451536643026
0.8 0.8333333333333334
0.8444444444444444 0.8309692671394799
0.8444444444444444 0.8309692671394799
0.7777777777777778 0.83451536643026
0.8222222222222222 0.8321513002364066
0.7777777777777778 0.83451536643026
0.9333333333333333 0.8262411347517731
0.8666666666666667 0.8297872340425532
0.8 0.8333333333333334
0.8863636363636364 0.8288075560802833
0.9090909090909091 0.8276269185360094
0.7954545454545454 0.833530106257379
0.8409090909090909 0.8311688311688312
0.8636363636363636 0.8299881936245572
0.8181818181818182 0.8323494687131051
0.8636363636363636 0.8299881936245572
0.8636363636363636 0.8299881936245572
0.7727272727272727 0.8347107438016529
Mean: 0.8317929292929293 0.8316502270564167